@using VinaOfficeWebsite.Repository;
@using Microsoft.AspNetCore.Http;
@inject ICommonRepository _common
@inject IHttpContextAccessor _httpContextAccessor;
@{
    string _host = _httpContextAccessor.HttpContext.Request.Scheme + "://" + _httpContextAccessor.HttpContext.Request.Host;
    var googleTracker = _common.GetConfigValue("Google_Tracker");
    string facebookAppId = _common.GetFacebookAppId();
}
<!DOCTYPE html>
<html lang="vi">
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <!-- Required meta tags -->
    @RenderSection("Meta", required: false)
    <!-- Stylesheets -->
    <link rel="shortcut icon" href="@(_host)/favicon.ico" />
    <link href="/css/library.min.css" rel="stylesheet" />
    <link href="/css/_main.min.css" rel="stylesheet" />

    <link href="/vendors/parsley/parsley.css" rel="stylesheet" />
    <link href="/vendors/toastr/toastr.min.css" rel="stylesheet" />

    <!-- jquery -->
    <script src="/vendors/jquery/jquery.min.js"></script>

    <title>@Html.Raw("Nội Thất Văn Phòng - Bàn Ghế Văn Phòng - Vinaoffice")</title>
    @await RenderSectionAsync("Styles", required: false)
    @Html.Raw(googleTracker)
</head>

<body>
    <div id="fb-root"></div>
    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.js#xfbml=1&version=v16.0&appId=@(facebookAppId)&autoLogAppEvents=1" nonce="vPfzEqqP"></script>

    <div class="wrapper home-page" id="home-page">
        @await Html.PartialAsync("_Header.cshtml")
        @await RenderSectionAsync("SliderBanner", required: false)
        @RenderBody()
        @await Html.PartialAsync("_Footer.cshtml")
    </div>
    <button class="far fa-chevron-up" id="backtop" role="button"></button>

    <script src="/vendors/bootstrap/bootstrap.bundle.min.js"></script>
    <script src="/css/plugins/flickity.pkgd.min.js"></script>
    <script src="/css/plugins/fancybox.umd.js"></script>
    <script src="/css/plugins/wow.min.js"></script>
    <script src="/css/plugins/iconify.min.js"></script>
    <script src="/js/jquery.lazy.min.js"></script>
    <script src="/vendors/parsley/parsley.min.js" rel="stylesheet"></script>
    <script src="/vendors/toastr/toastr.min.js" rel="stylesheet"></script>
    <script typy="text/javascript">
        $(function () {
            $('.lazy').Lazy();
            new WOW().init();
        });
    </script>

    <script src="/css/js/main.min.js"></script>
    <script src="/css/js/_extension.js"></script>
    <script asp-append-version="true" src="/js/custom.js" rel="stylesheet"></script>

    @await RenderSectionAsync("Scripts", required: false)
    <!-- Load Facebook SDK for JavaScript -->
    <div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = '//connect.facebook.net/vi_VN/sdk/xfbml.customerchat.js#xfbml=1&version=v2.12&autoLogAppEvents=1';
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));</script>
    <!-- Your customer chat code -->
    <div class="fb-customerchat"
         attribution="setup_tool"
         page_id="1539153889727055"
         theme_color="#20cef5"
         logged_in_greeting="VinaOffice Xin chào!"
         logged_out_greeting="VinaOffice Xin chào!">
    </div>

    <div class="zalo-chat-widget" data-oaid="4374030505860897738" data-welcome-message="Hello, thanks for recommending us! We're glad that you had a great experience." data-autopopup="0" data-width="" data-height=""></div>
    <script async defer src="https://sp.zalo.me/plugins/sdk.js"></script>
</body>
</html>