@using VinaOfficeWebsite.Models.ViewModel;
@using VinaOfficeWebsite.Repository;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ProductViewModel data = ViewBag.Data;
    List<ProductCateViewModel> categories = ViewBag.Categories;
    List<ProductViewModel> latestProductList = ViewBag.LatestProductList;
    List<ProductViewModel> relatedList = ViewBag.RelatedList;
    var url = Context.Request.Host.Value;
    var share ="https://vinaoffice.com/chi-tiet-" + data.Slug + ".html";
}
@section SliderBanner {
    <div class="banner-lg block-bg banner-page"
         style="background-image: url('/css/skin/banner/Banner.png')">
        <div class="container d-flex align-items-center h-100">
            <div class="text-banner">
                <nav arial-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/" title="Trang chủ" alt="Trang chủ" target="_self">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/san-pham/" title="Sản phẩm" alt="Sản phẩm" target="_self">Sản phẩm</a>
                        </li>
                        <li class="breadcrumb-item active">
                            <a href="@Html.Raw(data.CateSlug)" title="@Html.Raw(data.CateName)" alt="@Html.Raw(data.CateName)" target="_self">@Html.Raw(data.CateName)</a>
                        </li>
                    </ol>
                </nav>
                <h1 class="tt-md">@Html.Raw(data.Title)</h1>
            </div>
        </div>
    </div>
}

@section Meta{
    @Html.Raw(ViewBag.Meta)
}

<main class="mainer">
    <div class="block-bg">
        <div class="container py-3">
            <div class="block-sidebar mb-4" data-wrapper>
                <div class="mainbody mb-4 mb-md-0 order-md-2" data-mainbody>
                    <div class="row brief g-3 mt-1 mb-3">
                        <div class="col-12 col-md-6  col-lg-7 ">
                            <a class="main-img mb-0" alt="@Html.Raw(data.Title)" title="@Html.Raw(data.Title)" href="@Html.Raw(data.PicFull)" data-fancybox="products-gallery">
                                <img src="@Html.Raw(data.PicFull)" />
                            </a>
                        </div>
                        <div class="col-12 col-md-6 col-info  col-lg-5">
                            <a class="category" href="/@Html.Raw(data.CateSlug)/">@Html.Raw(data.CateName)</a>
                            <h2 class="tt-md mb-2">@Html.Raw(data.Title)</h2>
                            @if (data.Price != 0)
                            {
                                <div class="price txt-price fs-18 mb-2">
                                    @Html.Raw(data.PriceString)<sup><u>đ</u></sup>
                                </div>
                            }
                            <div class="desc txt-desc mb-2">
                                <p>
                                    @Html.Raw(data.Description)
                                </p>
                            </div>
                            @if (data.Price != 0)
                            {
                                <div class="mb-2">
                                    <a onclick="addToCart(@data.Id)" class="btn btn-primary btn-buy" alt="Mua hàng" title="Mua hàng">Mua hàng</a>
                                </div>
                            }
                            else
                            {
                                <div class="mb-2">
                                    <a href="/lien-he/" class="btn btn-primary btn-buy" alt="Liên hệ" title="Liên hệ">Liên hệ</a>
                                </div>
                            }
                        </div>
                    </div>
                    <div class="post-desc mb-3">
                        <div class="content-post">
                            <div class="content-ellips clearfix" id="products-desc">
                                <p><strong>Thông tin chi tiết</strong></p>
                                @Html.Raw(data.Content)
                            </div>
                            <div class="text-center">
                                <button class="btn btn-toggle-content hidden"
                                        data-clickjs
                                        data-active="products-desc"
                                        data-fs="Xem thêm"
                                        data-en="Ẩn bớt">
                                    <i class="far fa-chevron-down"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div class="block-comment mb-3 block-bg">
                        <div class="tt-md mb-3 tt-icon">Bình luận</div>
                        <div class="block-fb-comment">
                            <div class="fb-comments" data-href="@share" data-width="100%" data-numposts="5"></div>
                        </div>
                    </div>
                </div>
                <div class="sidebar order-md-1" data-sidebar>
                    <div data-stick data-width-fill>
                        <div class="pane pane-menu mb-4">
                            <div class="tt-xs text-uppercase tt-icon">Danh mục</div>
                            <ul class="menu-vertical">
                                @foreach (var item in categories)
                                {
                                    <li>
                                        <a href="/@Html.Raw(item.Slug)/" title="@Html.Raw(item.Title)" alt="@Html.Raw(item.Title)" target="_self">@Html.Raw(item.Title)</a>
                                    </li>
                                }
                            </ul>
                        </div>
                        @*    <div class="pane pane-list pane-list-products">
                        <div class="tt-xs text-uppercase tt-icon">SẢN PHẨM MỚI</div>
                        <div class="list-products">
                        @foreach (var item in latestProductList)
                        {
                        <div class="pane-list-item d-flex block">
                        <a class="absolute"
                        href="/chi-tiet-@(item.Slug).html"
                        title="@Html.Raw(item.Title)"
                        alt="@Html.Raw(item.Title)"
                        target="_self"></a>
                        <div class="thumb">
                        <img class="fit-cover"
                        src="@Html.Raw(item.PicThumb)"
                        alt="@Html.Raw(item.PicThumb)" />
                        </div>
                        <div class="info">
                        <div class="tt">
                        @Html.Raw(item.Title)
                        </div>
                        <div class="price">
                        @Html.Raw(item.PriceString)<sup><u>đ</u></sup>
                        </div>
                        </div>
                        </div>

                        }
                        </div>
                        </div>*@
                        @*  <div class="pane bannerqc">
                        <a class="block" href="#" title="" alt="" target="_self">
                        <img src="/css/skin/theme/bg-qc.png" alt="" />
                        </a>
                        </div>*@
                    </div>
                </div>
            </div>
            <div class="block-bg block-other-post py-3">
                <div class="d-flex align-items-center justify-content-between">
                    <div class="tt-icon tt-md mb-0">Có thể bạn sẽ thích</div>
                </div>
                <div class="list-products row row-cols-2 row-cols-sm-3 row-cols-md-4 row-cols-lg-6 my-3">
                    @foreach (var item in relatedList)
                    {
                        <div class="col">
                            <div class="block">
                                <div class="thumb-res square">
                                    @*<div class="list-badge">
                                <div class="badge new">Mới</div>
                                </div>*@
                                    <img src="@Html.Raw(item.PicThumb)" alt="@Html.Raw(item.PicThumb)" title="@Html.Raw(item.Title)" />
                                    @if (item.Price != 0)
                                    {
                                        <div class="text-hover">
                                            <a onclick="addToCart(@item.Id)" class="btn btn-primary btn-buy" alt="Mua hàng" title="Mua hàng">
                                                Mua hàng<i class="far fa-shopping-bag ml-2"></i>
                                            </a>
                                        </div>
                                    }
                                    <div class="list-icon-social">
                                        <a class="btn rounded-circle btn-facebook" alt="facebook" title="facebook" href="https://www.facebook.com/sharer/sharer.php?u=@Html.Raw(url + "/chi-tiet-" + item.Slug + ".html")" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                        <a class="btn rounded-circle btn-twitter" alt="twitter" title="twitter" href="https://twitter.com/intent/tweet?original_referer=@Html.Raw(url + "/chi-tiet-" + item.Slug + ".html")&amp;via=" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                        <a class="btn rounded-circle btn-pinterest" alt="pinterest" title="pinterest" href="https://www.pinterest.com/pin/create/button/?url=@Html.Raw(url + "/chi-tiet-" + item.Slug + ".html")" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                                            <i class="fab fa-pinterest"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="info">
                                    <a class="absolute" alt="@Html.Raw(item.Title)" title="@Html.Raw(item.Title)" href="/chi-tiet-@(item.Slug).html"></a>
                                    <div class="tt">@Html.Raw(item.Title)</div>
                                    @if (item.Price != 0)
                                    {
                                        <div class="price">
                                            @Html.Raw(item.PriceString)<sup><u>đ</u></sup>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="price">
                                            <a href="/lien-he/" class="btn btn-primary btn-buy" alt="Liên hệ" title="Liên hệ">Liên hệ</a>
                                        </div>
                                    }
                                </div>
                                <div class="block d-lg-none">
                                    @if (item.Price != 0)
                                    {
                                        <a onclick="addToCart(@item.Id)" class="btn btn-primary btn-buy" alt="Mua hàng" title="Mua hàng">
                                            Mua hàng<i class="far fa-shopping-bag ml-2"></i>
                                        </a>
                                    }
                                </div>
                            </div>
                        </div>
                    }
                </div>
                <div class="text-center"><a role="button" class="btn btn-primary" alt="Xem thêm" title="Xem thêm" href="/@Html.Raw(data.CateSlug)/">Xem thêm</a></div>
            </div>
        </div>
    </div>
    <partial name="~/Views/Shared/_PartialShared.cshtml" />
</main>

@section Scripts {
    <script>
        var imgs = $('img')
        imgs.each(function (i, ele) {
            if (!$(ele).attr('src').includes('vinaoffice.com')) {
                $(ele).attr('src', 'https://vinaoffice.com' + $(ele).attr('src'))
            }
        })
    </script>
}