@using VinaOfficeWebsite.Models.ViewModel;
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<ProductViewModel> latestProductList = ViewBag.LatestProductList;
    List<ProductMenuViewModel> menus = ViewBag.Menu;
    List<NewsViewModel> blogs = ViewBag.Blogs;
    Dictionary<ProductCateViewModel, List<ProductViewModel>> productCateAndProductList = ViewBag.ProductCateAndProductList;
    var url = Context.Request.Host.Value;

}

@section Meta{
    @Html.Raw(ViewBag.Meta)
}

@section SliderBanner {
    <section class="home-slider-o">
        <div class="home-slider">
            <div class="img-slide">
                <img src="/css/skin/banner/banner-header.jpg" alt="banner" />
                <div class="container absolute d-flex justify-content-center">
                    <div class="textbox text-left wow col zoomIn">
                        <div class="text-center">
                            <div class="tt-icon mb-2"></div>
                        </div>
                        <h1 class="tt-lg text-uppercase">VINAOFFICE.COM</h1>
                        <div class="desc text-center">
                            Vinaoffice là một trong những thương hiệu nội thất văn phòng
                            hàng đầu tại Việt Nam. Với hơn 10 năm kinh nghiệm trong ngành
                            nội thất văn phòng, Vinaoffice đã thiết kế và sản xuất nhiều
                            sản phẩm nội thất văn phòng chất lượng cao, đa dạng về kiểu
                            dáng và chất liệu.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}

<main class="mainer">
    <div class="block-bg block-white" style="background-image: url('/css/skin/theme/bg-sticker.png')">
        <svg class="svg" viewBox="0 0 1920 77" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1920 77V0L961 64.1667L0 0V77H1920Z" fill="white" />
        </svg>
        <div class="container py-3 py-xl-5 section-border">
            <h2 class="tt-icon tt-md mb-0">Sản phẩm mới</h2>
            <div class="grid-products my-3">
                @for (var i = 0; i < latestProductList.Count; i++)
                {
                    <div class="grid-products-item">
                        <div class="block">
                            <div class="thumb-res square">
                                @if (i == 0)
                                {
                                    <img src="@Html.Raw(latestProductList[i].PicFull)" alt="@Html.Raw(latestProductList[i].Title)" title="@Html.Raw(latestProductList[i].Title)" />
                                }
                                else
                                {
                                    <img src="@Html.Raw(latestProductList[i].PicThumb)" alt="@Html.Raw(latestProductList[i].Title)" title="@Html.Raw(latestProductList[i].Title)" />
                                }

                                @if (latestProductList[i].Price != 0)
                                {
                                    <div class="text-hover">
                                        <a onclick="addToCart(@latestProductList[i].Id)" class="btn btn-primary btn-buy" alt="Mua hàng" title="Mua hàng">
                                            Mua hàng <i class="far fa-shopping-bag ml-2"></i>
                                        </a>
                                    </div>
                                }

                                <div class="list-icon-social">
                                    <a class="btn rounded-circle btn-facebook" alt="facebook" title="facebook" href="https://www.facebook.com/sharer/sharer.php?u=@Html.Raw(url + "/chi-tiet-" + latestProductList[i].Slug + ".html")" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                                        <i class="fab fa-facebook-f"></i>
                                    </a>
                                    <a class="btn rounded-circle btn-twitter" alt="twitter" title="twitter" href="https://twitter.com/intent/tweet?original_referer=@Html.Raw(url + "/chi-tiet-" + latestProductList[i].Slug + ".html")&amp;via=" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                    <a class="btn rounded-circle btn-pinterest" alt="pinterest" title="pinterest" href="https://www.pinterest.com/pin/create/button/?url=@Html.Raw(url + "/chi-tiet-" + latestProductList[i].Slug + ".html")" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                                        <i class="fab fa-pinterest"></i>
                                    </a>
                                </div>
                            </div>
                            <div class="info">
                                <a class="absolute" alt="@Html.Raw(latestProductList[i].Title)" title="@Html.Raw(latestProductList[i].Title)" href="/chi-tiet-@(latestProductList[i].Slug).html"></a>
                                <div class="tt">@Html.Raw(latestProductList[i].Title)</div>
                                @if (latestProductList[i].Price != 0)
                                {
                                    <div class="price">
                                        @Html.Raw(latestProductList[i].PriceString) <sup><u>đ</u></sup>
                                    </div>
                                }
                                else
                                {
                                    <div class="price">
                                        <a href="/lien-he/" class="btn btn-primary btn-buy" alt="Liên hệ" title="Liên hệ">Liên hệ</a>
                                    </div>
                                }
   
                            </div>
                            @if (latestProductList[i].Price != 0)
                            {
                                <div class="block d-lg-none">
                                    <a onclick="addToCart(@latestProductList[i].Id)" class="btn btn-primary btn-buy" alt="Mua hàng" title="Mua hàng">
                                        Mua hàng <i class="far fa-shopping-bag ml-2"></i>
                                    </a>
                                </div>
                            }
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>

    @*    <div class="block-bg">
    <div class="container py-3 py-xl-5">
    <h2 class="tt-icon tt-md mb-0">Sản phẩm nổi bật</h2>
    <div class="list-products row row-cols-2 row-cols-md-3 row-cols-lg-4 my-3">
    <div class="col">
    <div class="block">
    <div class="thumb-res square">
    <img src="/css/skin/products/products-6.png" alt="" title="" />
    <div class="text-hover">
    <a class="btn btn-primary btn-buy" alt="" title="">
    Mua hàng <i class="far fa-shopping-bag ml-2"></i>
    </a>
    </div>
    </div>
    <div class="info">
    <a class="absolute" alt="" title="" href="products-detail.html"></a>
    <div class="tt">Bàn Giám Đốc hiện đại sơn PU GĐ118</div>
    <div class="price">
    330.000 <sup>
    <u>đ</u>
    </sup>
    </div>
    </div>
    <div class="block d-lg-none">
    <a class="btn btn-primary btn-buy" alt="" title="">
    Mua hàng <i class="far fa-shopping-bag ml-2"></i>
    </a>
    </div>
    </div>
    </div>
    </div>
    </div>
    </div>*@

    <div class="block-bg banner-lg" style="background-image: url('/css/skin/theme/bg-category.jpg')">
        <div class="container py-4">
            <div class="carousel-category-o">
                <div class="carousel-category">
                    @foreach (var item in menus)
                    {
                        <div class="carousel-cell">
                            <div class="block">
                                <a class="absolute" alt="@Html.Raw(item.Name)" title="@Html.Raw(item.Name)" href="@Html.Raw(item.Slug)"></a>
                                <div class="icon">
                                    <img class="lazy" data-src="@Html.Raw(item.Image)" />
                                </div>
                                <div class="info">
                                    <div class="tt mb-0">@Html.Raw(item.Name)</div>
                                </div>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>

    @foreach (var item in productCateAndProductList)
    {
        <div class="block-bg">
            <div class="container py-3 py-xl-5">
                <h2 class="tt-icon tt-md mb-0">@Html.Raw(item.Key.Title)</h2>
                <div class="list-products row row-cols-2 row-cols-md-3 row-cols-lg-4 my-3">
                    @foreach (var ele in item.Value)
                    {
                        <div class="col">
                            <div class="block">
                                <div class="thumb-res square">
                                    @* <div class="list-badge">
                            <div class="badge new">Mới</div>
                            </div>*@
                                    <img class="lazy" data-src="@Html.Raw(ele.PicThumb)" alt="@Html.Raw(ele.PicThumb)" title="@Html.Raw(ele.PicThumb)" />
                                    @if (ele.Price != 0)
                                    {
                                        <div class="text-hover">
                                            <a onclick="addToCart(@ele.Id)" class="btn btn-primary btn-buy" alt="Mua hàng" title="Mua hàng">
                                                Mua hàng <i class="far fa-shopping-bag ml-2"></i>
                                            </a>
                                        </div>
                                    }
                                    <div class="list-icon-social">
                                        <a class="btn rounded-circle btn-facebook" alt="facebook" title="facebook" href="https://www.facebook.com/sharer/sharer.php?u=@Html.Raw(url + "/chi-tiet-" + ele.Slug + ".html")" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                                            <i class="fab fa-facebook-f"></i>
                                        </a>
                                        <a class="btn rounded-circle btn-twitter" alt="twitter" title="twitter" href="https://twitter.com/intent/tweet?original_referer=@Html.Raw(url + "/chi-tiet-" + ele.Slug + ".html")&amp;via=" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                                            <i class="fab fa-twitter"></i>
                                        </a>
                                        <a class="btn rounded-circle btn-pinterest" alt="pinterest" title="pinterest" href="https://www.pinterest.com/pin/create/button/?url=@Html.Raw(url + "/chi-tiet-" + ele.Slug + ".html")" onclick="javascript:window.open(this.href,'', 'menubar=no,toolbar=no,resizable=yes,scrollbars=yes,height=600,width=600');return false;">
                                            <i class="fab fa-pinterest"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="info">
                                    <a class="absolute" alt="@Html.Raw(ele.Title)" title="@Html.Raw(ele.Title)" href="/chi-tiet-@(ele.Slug).html"></a>
                                    <div class="tt"> @Html.Raw(ele.Title)</div>
                                    @if (ele.Price != 0)
                                    {
                                        <div class="price">
                                            @Html.Raw(ele.PriceString) <sup><u>đ</u></sup>
                                        </div>
                                    }
                                    else
                                    {
                                        <div class="price">
                                            <a href="/lien-he/" class="btn btn-primary btn-buy" alt="Liên hệ" title="Liên hệ">Liên hệ</a>
                                        </div>
                                    }
                                </div>
                                @if(ele.Price != 0)
                                {
                                    <div class="block d-lg-none">
                                        <a onclick="addToCart(@ele.Id)" class="btn btn-primary btn-buy" alt="Mua hàng" title="Mua hàng">
                                            Mua hàng <i class="far fa-shopping-bag ml-2"></i>
                                        </a>
                                    </div>
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
    }

    <div class="block-bg block-gray">
        <svg class="svg" viewBox="0 0 1920 77" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1920 77V0L961 64.1667L0 0V77H1920Z" fill="#F2F4F7" />
        </svg>
        <div class="container py-3">
            <h2 class="tt-icon tt-md mb-0">Blogs</h2>
            <div class="list-news row row-cols-1 row-cols-sm-2 row-cols-lg-3 my-3">
                @foreach (var item in blogs)
                {
                    <div class="col">
                        <div class="block">
                            <a class="absolute" alt="@Html.Raw(item.Title)" title="@Html.Raw(item.Title)" href="/blogs/@(Html.Raw(item.Slug)).html"></a>
                            <div class="thumb-res wide-lg">
                                <img class="fit-cover lazy" data-src="@Html.Raw(item.PicThumb)" />
                            </div>
                            <div class="info">
                                <svg viewBox="0 0 1920 77" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M1920 77V0L961 64.1667L0 0V77H1920Z" fill="white" />
                                </svg>
                                <div class="tt">@Html.Raw(item.Title)</div>
                                <div class="desc txt-desc">@Html.Raw(item.Description)</div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
    <partial name="~/Views/Shared/_PartialShared.cshtml" />
</main>