@using VinaOfficeWebsite.Models.ViewModel;
@using VinaOfficeWebsite.Repository;
@inject ICommonRepository _common
@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<ProductViewModel> latestProductList = ViewBag.LatestProductList;

    List<NewsViewModel> list = ViewBag.Data;
    int currentPage = ViewBag.CurrentPage;
    int lastpage = ViewBag.PageTotal;


    var block = 5;
    int nextPage = currentPage + 1;
    int perPage = currentPage - 1;
    if (perPage == 0)
    {
        perPage = 1;
    }
    if (nextPage >= lastpage)
    {
        nextPage = lastpage;
    }
    int tempcurrentPage = currentPage + (currentPage / block);
    int currentBlock = currentPage / block;
    int startPage = 0;
    int endPage = 0;


    if (currentBlock == 0)
    {
        startPage = 1;
        endPage = block;
    }
    else
    {
        endPage = block * (currentBlock + 1);
        startPage = endPage - block;
    }
    if (endPage > lastpage)
    {
        endPage = lastpage;
    }


}

@section Meta{
    @Html.Raw(ViewBag.Meta)
}

@section SliderBanner {
    <div class="banner-lg block-bg banner-page" style="background-image: url('/css/skin/banner/Banner.png')">
        <div class="container d-flex align-items-center h-100">
            <div class="text-banner">
                <nav arial-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="/" title="Trang chủ" alt="Trang chủ" target="_self">Trang chủ</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="/blogs/" title="Blogs" alt="Blogs" target="_self">Blogs</a>
                        </li>
                    </ol>
                </nav>
                <h1 class="tt-md">Blogs</h1>
            </div>
        </div>
    </div>
}

<main class="mainer">
    <div class="block-bg">
        <div class="container py-3">
            <div class="block-sidebar" data-wrapper>
                <div class="mainbody mb-4 mb-md-0 order-md-2" data-mainbody>
                    <div class="list-news row row-cols-1 row-cols-sm-2 row-cols-lg-3 my-3">
                        @foreach(var item in list)
                        {
                            <div class="col">
                                <div class="block">
                                    <a class="absolute" alt="@Html.Raw(item.Title)" title="@Html.Raw(item.Title)" href="/blogs/@(item.Slug).html"></a>
                                    <div class="thumb-res wide-lg">
                                        <img class="fit-cover" src=" @Html.Raw(item.PicThumb)" />
                                    </div>
                                    <div class="info">
                                        <svg viewBox="0 0 1920 77" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path d="M1920 77V0L961 64.1667L0 0V77H1920Z" fill="white" />
                                        </svg>
                                        <div class="tt">@Html.Raw(item.Title)</div>
                                        <div class="desc txt-desc">
                                           @Html.Raw(item.Description)
                                        </div>
                                    </div>
                                </div>
                            </div>

                        }
                    </div>
                    <nav class="pagination justify-content-end">
                        <div class="page-item prev disabled">
                            <a class="prev-page" href="@(currentPage == 1 ? "javascript:void(0)" : "?page=" + (currentPage - 1))" title="prev" alt="prev" target="_self"><i class="fa fa-angle-left"></i></a>
                        </div>

                        @for (int i = startPage; i <= endPage; i++)
                        {
                            <div class="page-item @(currentPage == i ? "active" : "")">
                                <a class="page-counter" alt="@i" title="@i" href="?page=@i">
                                    @i
                                </a>
                            </div>
                        }

                        @if (currentPage < lastpage - block)
                        {
                            <div class="page-item">
                                <a class="page-counter" alt="..." title="..." href="#">
                                    ...
                                </a>
                            </div>
                            <div class="page-item active">
                                <a class="page-counter" alt="@lastpage" title="@lastpage" href="?page=@lastpage">
                                    @lastpage
                                </a>
                            </div>
                        }
                        <div class="page-item next">
                            <a class="next-page" href="@(currentPage == lastpage ? "javascript:void(0)" : "?page="  + (currentPage + 1))" title="next" alt="next" target="_self">
                                <i class="fa fa-angle-right"></i>
                            </a>
                        </div>
                    </nav>

                </div>
                <div class="sidebar order-md-1" data-sidebar>
                    <div data-stick data-width-fill>
                        <div class="pane pane-list pane-list-products">
                            <div class="tt-xs text-uppercase tt-icon">SẢN PHẨM MỚI</div>
                            <div class="list-products">
                                @foreach (var item in latestProductList)
                                {
                                    <div class="pane-list-item d-flex block">
                                        <a class="absolute"
                                           href="/chi-tiet-@(item.Slug).html"
                                           title="@Html.Raw(item.Title)"
                                           alt="@Html.Raw(item.Title)"
                                           target="_self"></a>
                                        <div class="thumb">
                                            <img class="fit-cover"
                                                 src="@Html.Raw(item.PicThumb)"
                                                 alt="@Html.Raw(item.PicThumb)" />
                                        </div>
                                        <div class="info">
                                            <div class="tt">
                                                @Html.Raw(item.Title)
                                            </div>
                                            @if (item.Price != 0)
                                            {
                                                <div class="price">
                                                    @Html.Raw(item.PriceString)<sup><u>đ</u></sup>
                                                </div>
                                            }
                                            else
                                            {
                                                <div class="price">
                                                    <a href="/lien-he/" class="btn btn-primary btn-buy" alt="Liên hệ" title="Liên hệ">Liên hệ</a>
                                                </div>
                                            }
                                        </div>
                                    </div>

                                }
                            </div>
                        </div>
                       @* <div class="pane bannerqc">
                            <a class="block" href="#" title="" alt="" target="_self">
                                <img src="/css/skin/theme/bg-qc.png" alt="" />
                            </a>
                        </div>*@
                    </div>
                </div>
            </div>
        </div>
    </div>
    <partial name="~/Views/Shared/_PartialShared.cshtml" />
</main>